<!DOCTYPE html>
<html lang="en">
<head>
  <script src="nui://game/ui/jquery.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css" type="text/css">
</head>
<body>
  <div id="app">
    <div class="inventory">
      <div class="top" v-if="menuOpen">
        <div class="top-header">
          INVENTORY
        </div>
        <div class="rows">
          <div class="inventory-lines" v-for="line in inventoryComp">
            <div class="inventory-container">
              <div class="inventory-item" v-for="item in line">
                <template v-if="item">
                  <img :src="'./images/' + item.imageURL" alt="image" width="60px">
                  <p class="item-text">
                    {{ item.name }}
                  </p>
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="bottom">
        <div class="rows">
          <div class="hotbar-container">
            <div class="hotbar-item" v-for="item in hotbarInv">
              <template v-if="item">
                <img :src="'./images/' + item.imageURL" alt="image" width="60px">
                <p class="item-text">
                  {{ item.name }}
                </p>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

  <script src="./js/index.js" type="text/javascript"></script>
</body>
</html>